.content-container {
    background-image: url(../img/u.jpg);
    background-repeat: no-repeat;
    background-position: top 110px left 571px;
    width: 50% right;
}

.content {
    width: 50%;
    padding-top: 160px;
}

.content-text {
    line-height: 26px;
}

.content-articles {
    padding-top: 80px;
    padding-bottom: 160px;
    display: flex;
}

.content__article {
    width: 50%;
}

@media screen and (max-width: 375px) {
    .content-articles {
        flex-direction: column;
        padding-bottom: 75px;
    }
}

.content-article:first-child {
    margin-right: 45px;
}

.content-article-paragraph {
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
}

@media screen and (max-width: 768px) {
    .content-container {
        background-image: none;
    }
    .content {
        padding-top: 0;
        width: 100%;
    }
    .content-article {
        padding-bottom: 0;
        width: 100%;
    }
}

@media screen and (min-width: 2000px) {
    .content-container {
        background-position: top 110px left 901px;
    }
}