.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
}

.header__menu>img {
    max-width: 100%;
}

.header__title {
    font-weight: 900;
    font-size: 26px;
    color: #37447e;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav ul {
    display: flex;
}

.header__nav-item {
    line-height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    margin-right: 60px;
}

.header__nav-item:hover {
    background-color: #111b47;
    color: #ffffff;
}

.header__buttons {
    height: 28px;
    width: 104px;
    line-height: 18px;
    font-size: 16px;
}

.button-learn-more {
    background: #111b47;
    color: #ffffff;
}

.button-buy-now {
    background: #FFD166;
    color: #111B47;
    margin-left: 26px;
}

@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        left: 0;
        right: 0;
        padding: 20px;
        background-color: white;
        z-index: 10;
    }
    .header__menu {
        display: block;
    }
    .header__buttons {
        display: none;
    }
    .header__nav {
        background: #e7ecff;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }
    .header__nav.open {
        clip-path: circle(1000px at top);
    }
    .header__nav ul {
        flex-direction: column;
        height: 100%;
    }
    .header__nav .header__nav-item {
        margin-right: 0;
        padding-left: 110px;
        padding-top: 50px;
        flex: 1;
    }
    .header__nav a {
        font-weight: 500;
        display: block;
        font-size: 32px;
    }
}

@media screen and (min-width: 2000px) {
    .header__title {
        font-size: 40px;
    }
    .header__buttons {
        width: 150px;
        height: 25px;
        font-size: 20px;
    }
}