.hero {
    background-image: url(../img/Home.jpg);
    background-repeat: no-repeat;
    background-position: top 175px right -350px;
    width: 50% right;
}

.hero__inner {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-right: 154px;
    width: 50%;
}

.hero__text {
    line-height: 26px;
}

.hero__articles {
    display: flex;
    margin-top: 45px;
}

@media screen and (max-width: 375px) {
    .hero__articles {
        flex-direction: column;
    }
}

.hero__article {
    width: 50%;
}

.hero__article-paragraph {
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
}

@media screen and (max-width: 1360px) {
    .hero {
        background-image: none;
    }
    .hero__inner {
        width: 100%;
        padding-bottom: 75px;
    }
    .hero__article {
        width: 100%;
    }
}