.info {
    padding-top: 24px;
    width: 65%;
}

@media screen and (max-width: 1024px) {
    .info {
        width: 100%;
        padding-top: 0;
    }
}

.price__info__container {
    margin-top: 32px;
    padding-bottom: 210px;
}

.price__info__container ul {
    display: flex;
    justify-content: space-between;
}

.info__price {
    color: #37447E;
}

.info__item {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .price__info__container ul {
        flex-direction: column;
    }
    .info__item {
        padding: 15px 0;
        margin-top: 30px;
        border-style: solid;
        border-width: 2px;
        border-radius: 5%;
        border-color: #111b47;
        width: 100%;
    }
    .price__info__container {
        padding-bottom: 75px;
    }
    .info__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.info__item h2 {
    color: #091133;
}

.info__paragraph {
    font-size: 14px;
    line-height: 24px;
    color: #5D6970;
}

.info__button {
    color: #fff;
    background: #111B47;
    width: 189px;
    height: 26px;
    font-size: 12px;
}